@import url("https://use.typekit.net/xjc5qtk.css"); 
//font-family: chuck, sans-serif;
//font-family: open-sans, sans-serif;
//font-family: montserrat, sans-serif;
//font-family: lores-12, sans-serif;
//font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

$size: 5em;
$orange: #ffa500;
$black-dark: #191919;
$black-light: #242424;
$white: #ffffff;
$light-grey: #8d8d8d;

body {
    background-color: $black-dark;
    color: $white;
    font-family: montserrat, sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}
a, a:hover{
    text-decoration: none;
    color: $white;
}
.error {
    position: relative;
    color: $orange;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-top: 3rem;
    margin-left: 1.3rem;
}