@import url("https://use.typekit.net/xjc5qtk.css"); 
//font-family: chuck, sans-serif;
//font-family: open-sans, sans-serif;
//font-family: montserrat, sans-serif;
//font-family: lores-12, sans-serif;
//font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

$blue: #007BFF;
$size: 5em;

body {
    background-color: #191919;
    color: #ffffff;
    font-family: montserrat, sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}
a, a:hover{
    text-decoration: none;
    color: #ffffff;
}
.brand {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-top: 0.4rem;
    transition: 0.3s;
    &:hover, &:focus {
        outline: none;
        transform: scale(1.02);
    }
    .lines {
        display: flex;
        flex-direction: row;
        gap: 0.6rem; 
        margin-left: 0.5rem;
        margin-right: 0.9rem;
        margin-top: 1rem;
    }
    .line-one {
        background-color: #8d8d8d;
        width: 0.2rem;
        height: 2.2rem;
        transform: rotate(-20deg);
    }
    .line-two {
        background-color: #ffa500;
        width: 0.2rem;
        height: 2.2rem;
        transform: rotate(-20deg);
    }
    h1 {
        text-transform: uppercase;
        margin-top: 0.9rem;
        color: #8d8d8d;
        font-size: 0.8em;
        letter-spacing: 0.4em;
        font-weight: 200;
        span {
            font-size: 1.6em;
            font-weight: 900;
            letter-spacing: 0.1em;
        }
    }
}
.nav {
    display: flex;
    justify-content: space-between;
}
.nav-links {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin: 2rem;
    a, i { 
        color: #8d8d8d; 
        text-transform: uppercase;

        font-weight: 600;
        letter-spacing: 0.2em;
    }
}
@keyframes spin{
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(360deg); }
}
.spinner-wrapper {
    position: relative;
    margin-left: calc(50% - 2.5em);
    margin-top: 15%;
    margin-bottom: 15%;
}
.spinner{
    position: relative;
    width: $size;
    height: $size;
    background-color: transparent;
    animation: spin 1s infinite linear;
    &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: $size/25 $size/25 #ffa500;
    }
}
.error {
    color: #ffa500;
    text-transform: uppercase;
    font-size: 0.8em;
}

form {
    position: absolute;
    top: 50vh;
    left: 50vw;
    height: 20rem;
    width: 18rem;
    margin-top: -10rem;
    margin-left: -8.3rem;
    div {
        margin-bottom: 2.5rem;
    }
    input:focus + i, textarea:focus + i {
        color: #ffa500;
    }
    i {
        position: absolute;
        left: 0;
        margin-left: -2rem;
        margin-top: 0.7rem;
        font-size: 1.2em;
        color: #8d8d8d;
        transform: translateY(-50%);
        transition: color .3s;
    }
    input, textarea  {
        color: #fff;
        background-color: transparent;
        outline: none;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid #8d8d8d;
        padding-bottom: 0.8em;
        width: 100%;
        font-size: 1em;
        font-family: montserrat, sans-serif;
        &:focus {
            border-bottom: 1px solid #ffa500;
        }
        &::placeholder, &::placeholder:focus, &::placeholder:active {
            text-transform: capitalize;
            letter-spacing: 0.1em;
        }
    }
    .fa-quote-right{
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        margin-top: -0.05em;
    }
    .button-wrapper {
        display: flex;
        justify-content: center;
    }
    button {
        text-transform: uppercase;
        color: #191919;
        font-weight: 900;
        letter-spacing: 0.1em;
        font-size: 1.2em;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: #ffa500;
        border: 2px solid #ffa500;
        transition: 0.3s;
        &:hover {
            transform: scale(1.03);
        }
        &:active, &:focus {
            background-color: transparent;
            color: #ffa500;
        }
    }
}

.detail-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    img {
        width: 100vw;
    }
    .detail-txt {
        background-color: #191919;
        position: absolute;
        top: 100vh;
        padding: 1rem 7vw;
        text-align: justify;
    }
    h3 {
        text-align: center;
        position: absolute;
        top: 20vh;
        left: 5vw;
        font-size: 8em;
        width: 90vw;
        -webkit-text-stroke-width: 5px;
        -webkit-text-stroke-color: #191919;
    }
    .link-wrapper {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        margin-bottom: 2rem;
        i {
            padding: 0.7rem 1rem;
            background-color: #242424;
            border: solid 3px #242424;
            color: #8d8d8d;
            font-size: 1.5em;
            vertical-align: baseline;
            &:hover {
                border: solid 3px #8d8d8d;
            }
        }
        a {
            padding: 0.7rem 1rem;
            text-transform: uppercase;
            vertical-align: baseline;
            color: #191919;
            background-color: #8d8d8d;
            border: solid 3px #8d8d8d;
            font-weight: 900;
            letter-spacing: 0.1em;
            line-height: 1.8em;
            &:hover {
                background-color: #242424;
                color: #8d8d8d;
            }
        }
    }
}
.saved-links {
    h5 {
        font-size: 3em;
        text-transform: uppercase;
        color: #8d8d8d;
        margin-bottom: 0.2em;
    }
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    a {
        line-height: 1.5em;
        &:hover {
            opacity: 0.7;
        }
        &:active, &:focus {
            color: #ffa500;
            outline: none;
        }
    }
}