.layout {
    width: 100vw;
    max-width: 800px;
    padding: 30px;
    background: #ebebeb;
    margin: 0 auto;
}
.detail-page {
    flex-flow: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    align-content: center;
}
body {
    margin: 0.5rem;
}